#* @implicitly included *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.widget.map.MapSelectFormModel" file="../web/WEB-INF/velocity/map.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.tg.TreeGridFormModel" file="../web/WEB-INF/velocity/tg.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.data.ImportFormModel" file="../web/WEB-INF/velocity/import.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.tree.TreeFormModel" file="../web/WEB-INF/velocity/tree.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.auth.AuthMenuFormModel" file="../web/WEB-INF/velocity/authMenu.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.auth.AuthGroupFormModel" file="../web/WEB-INF/velocity/authGroup.vm"*#
#* @vtlvariable name="form" type="cn.com.easyerp.core.widget.complex.ComplexInputDetailFormModel" file="../web/WEB-INF/velocity/complexDetail.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.view.FormController.EmptyFormModel" file="../web/WEB-INF/velocity/empty.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.generate.AutoGenerateFormModel" file="../web/WEB-INF/velocity/ag.vm"*#
#* @vtlvariable name="form" type="cn.com.easyerp.generate.AutoGenerateSingleModeFormModel" file="../web/WEB-INF/velocity/agSingle.vm"*#
#* @vtlvariable name="form" type="cn.com.easyerp.passage.PassageFormModel" file="../web/WEB-INF/velocity/passage.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.widget.complex.ComplexInputFormModel" file="../web/WEB-INF/velocity/complex.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.ril.ReferenceInputListFormModel" file="../web/WEB-INF/velocity/ril.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.range.RangeFormModel" file="../web/WEB-INF/velocity/range.vm" *#
#* @vtlvariable name="detail" type="cn.com.easyerp.core.view.form.detail.DetailFormModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.chart.ChartFormModel" file="../web/WEB-INF/velocity/chart.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.view.FormModelBase" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.view.form.index.IndexModel" file="../web/WEB-INF/velocity/index.vm" *#
#* @vtlvariable name="filter" type="cn.com.easyerp.core.filter.FilterModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="filterData" type="cn.com.easyerp.core.filter.FilterDescribe" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="field" type="cn.com.easyerp.core.widget.FieldModelBase" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="group" type="cn.com.easyerp.core.widget.group.GroupModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="check" type="cn.com.easyerp.core.widget.CheckBoxField" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="refField" type="cn.com.easyerp.core.widget.FieldWithRefModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="textField" type="cn.com.easyerp.core.widget.FieldWithRepresentationModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="mapField" type="cn.com.easyerp.core.widget.MapFieldModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="inputEntry" type="cn.com.easyerp.core.widget.InputEntry" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="grid" type="cn.com.easyerp.core.widget.grid.GridModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="menu" type="cn.com.easyerp.auth.AuthDetails.UserMenu" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="desc" type="cn.com.easyerp.core.cache.ColumnDescribe" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="table" type="cn.com.easyerp.core.cache.TableDescribe" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="tab" type="cn.com.easyerp.core.cache.TableTabDescribe" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="group" type="cn.com.easyerp.core.cache.TableGroupDescribe" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="homeForm" type="cn.com.easyerp.core.view.form.index.IndexModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="treeForm" type="cn.com.easyerp.tree.TreeFormModel" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="operations" type="java.util.Map<java.lang.String, java.util.List<java.lang.String>>" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="shortcuts" type="java.util.List<java.lang.String>" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="authOptions" type="java.util.List<cn.com.easyerp.auth.AuthOption>" file="../web/WEB-INF/velocity/dxLibrary.vm" *#
#* @vtlvariable name="dx" type="cn.com.easyerp.core.velocity.DxTool" *#
#* @vtlvariable name="list" type="org.apache.velocity.tools.generic.ListTool" *#
#* @vtlvariable name="math" type="org.apache.velocity.tools.generic.MathTool" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.view.form.list.ListFormModel" file="../web/WEB-INF/velocity/list.vm" *#
#* @vtlvariable name="form" type="cn.com.easyerp.core.view.form.detail.DetailFormModel" file="../web/WEB-INF/velocity/detail.vm" *#
#* @vtlmacrolibrary path="../web/WEB-INF/velocity/dxLibrary.vm" *#
