#dxFormHead($form)
	<form id="$form.id" class="form-inline dx-form changepassword" name="$form.widgetName" action="" role="form">
		<div class="btn-toolbar">
			<button type="button" id=${form.id}name='save' class="btn save" onclick="changepassword('$form.id')">$dx.msg("Save")</button>
		</div>

		#if($dx.user.isMobileLogin==1)
		    <div class="password-head">修改密码</div>
		    <p class="password-tip">密码由数字与字母组成，不含特殊符号</p>
		#end

		<div class="dx-detail-container">
		    <div class="row dx-detail-row">
			<div class="form-group col-xs-4 dx-field-containerr">
			   <label class="control-label col-xs-4" for="$dx.formatEmpty($form.OldPassword.column)">$dx.msg("Old_pwd_Text"):</label>
			   <div class="input-group col-xs-8">
				#changePassword($form.OldPassword, "ui-widget dx-field input-1 form-control dx-password")
			   </div>
			</div>
                </div>
      	    <div class="row dx-detail-row">
      	        <div class="form-group col-xs-4 dx-field-container">
      		        <label class="control-label col-xs-4" for="$dx.formatEmpty($form.NewPassword.column)">$dx.msg("New_Pwd_Text"):</label>
      		        <div class="input-group col-xs-8 New_Pwd_Password">
      				    #changePassword($form.NewPassword, "ui-widget dx-field input-1 form-control dx-password")
      		            <input class="New_Pwd_Text form-control" type="text" style="display:none;"/>
                        <span class="inputEye New_Pwd_Show" onclick="New_Pwd_Show('$form.id')"></span>
      	            </div>
      	        </div>
      	    </div>
      		<div class="row dx-detail-row">
      			<div class="form-group col-xs-4 dx-field-container Repeat_New_Pwd_Password">
      				<label class="control-label col-xs-4" for="$dx.formatEmpty($form.RepeatPassword.column)">$dx.msg("Repeat_New_Pwd_Text"):</label>
      				<div class="input-group col-xs-8">
      					#changePassword($form.RepeatPassword, "ui-widget dx-field input-1 form-control dx-password")
      				    <input class="Repeat_New_Pwd_Text form-control" type="text" style="display:none;"/>
      				    <span class="inputEye Repeat_New_Pwd_Show" onclick="Repeat_New_Pwd_Show('$form.id')"></span>
      				</div>
      			</div>
      		</div>
		</div>

	</form>
#dxFormTail($form)