#dxFormHead($form)                  ##必须
<form id="$form.id" name="eventUser" class="form-inline dx-form clearfix pc-tab-form" role="form"">       ##基本上照抄即可
    <div class="event-user-search-div" >
        <input type="text" placeholder="$dx.msg("search_params")" class="event-user-search">
    </div>
    <div class="event-user-tree" style="">
    </div>
    <div class="text-center dx-modal-footer">
        <button type="button" class="btn event-user-save save">$dx.msg('save')</button>
    </div>
</form>
#dxFormTail($form)