<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>
    <link rel="stylesheet" href="#springUrl('')/css/findpasswd.css">
    <script src="#springUrl('')/js/jquery-1.11.0.js"></script>
    #set ($contextRoot = "#springUrl('')")
   <script>
	    function makeLoginUrl(path) {
	        return '$contextRoot' + path
	    }
    </script>
</head>
<body>
<div>
    <div class="top">
        <div class="top-body">
            <div class="find-top-left">
                ##<a href="#1"></a>
                <span>找回密码</span>
            </div>
            <div class="find-top-right">
                <a href="#springUrl('')/auth/login.view">返回登录</a>
            </div>
        </div>
    </div>
    <div class="find-body">
        <!--手机找回-->
        <div class="find-phone active">
            <div class="fp-top">
                <div class="show-color"><span>01 </span><span class="valid-txt">手机验证</span></div>
                <div ><span>02 </span>重置密码</div>
            </div>
            <div class="pholine"></div>
            <div class="fp-form fp-form-start active">
                <div>
                    <label for="fp-phone">手机号码</label>
                    <input id="fp-phone" type="text" class="phone" placeholder="请输入手机号码"/>
                </div>
                <div class="fp-phone-vail">
                    <label for="fp-phone-vail">短信验证</label>
                    <input id="fp-phone-vail" type="text" placeholder="请输入验证码">
                    <input type="button" class="fp-send-vail vail" value="发送验证码">
                </div>
                <div>
                    <a id="fp-phone-reg" class="find-button" href="#">下一步</a>
                </div>
            </div>
            <!--密码重置-->
            <div class="fp-form-set fp-form ">
                <div>
                    <label for="fp-phone-newp">新密码</label>
                    <input id="fp-phone-newp" class="password" type="password" placeholder="请输入6-10字符新密码">
                </div>
                <div>
                    <label for="fp-phone-newpa">确认新密码</label>
                    <input id="fp-phone-newpa" class="repassword" type="password" placeholder="请再次输入新密码">
                </div>
                <div>
                    <a href="#1" id="fp-phone-ok" class="find-button">提 交</a>
                </div>
            </div>
            <a href="#1" name="find-email" id="by-eamil" class="by-eamil">
                <span class="valid-type" value="phone">通过邮箱找回 ><span>
            </a>
        </div>
        <!--邮箱找回-->
        <div class="find-email">
            <div class="fp-top">
                <div class="show-color"><span>01 </span>输入邮箱地址</div>
                <div><span>02 </span>验证邮箱</div>
                <div><span>03 </span>重置密码</div>
            </div>
            <div class="pholine"></div>
            <div class="fp-form active fp-email-start">
                    <div>
                        <label for="fp-email">邮箱地址</label>
                        <input id="fp-email" type="text" placeholder="请输入注册时邮箱地址">
                    </div>
                    <div>
                        <a href="#1" class="find-button" id="emil-bt-start" >找回密码</a>
                    </div>
            </div>
            <div class="fp-vail-emform fp-form ">
                    <div class="fp-vail-emt">
                        <img src="/img/mail_img.png" alt="" style="">
                        <p>密码重置邮件已发送至你的邮箱</p>
                        <p>123@qq.com</p>
                        <span>请在24小时内登陆你的邮箱接收邮件，链接激活后可重置密码。</span>
                        <div class="" >
                            <a href="#1" id="reg-em-see" class="find-button" >登录邮箱查看</a>
                        </div>
                    </div>
                </div>
            <div class="fp-form-emset fp-form ">
                    <div>
                        <label for="fp-email-newp">请输入新密码</label>
                        <input id="fp-email-newp" type="text" placeholder="请输入新密码">
                    </div>
                    <div>
                        <label for="fp-email-newpa">请再次输入新密码</label>
                        <input id="fp-email-newpa" type="text" placeholder="请再次输入新密码">
                    </div>
                    <div>
                        <a href="#1" class="find-button">确 定</a>
                    </div>
            </div>

        <a href="#1" name="find-phone" class="by-eamil">通过手机找回 ></a>
        <form action="#springUrl('')/auth/login.view" class="reg_success_form"></form>
        </div>
    </div>
</div>
<script src="#springUrl('')/js/findpassword.js"></script>
</body>
</html>