#dxFormHead($form)                  ##必须
<form id="$form.id" name="Url" class="form-inline dx-form" role="form"">


<div class="datagrid-content">
    <div class="datagrid-main">
        <div id="url_deploy_btn" class="btn-toolbar grid-toolbar" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton dx-grid-add accept" >$dx.msg("Save")</a>
        </div>
        <table id="urlDeployTb" class="easyui-datagrid"></table>

    </div>

    <div class="datagrid-foot">
        <button class="easyui-linkbutton append" type="button">＋</button>
        <button class="easyui-linkbutton removeit"type="button">－</button>
         <div class="parameterInput" style="display:inline-block">
         	<input type="text" class="parameterInputControl" value="{test_2:{test_1:'zaa'},test_1:'count_againApi'}"/>
         </div>
    </div>
</div>

#dxFormTail($form)